body {
	font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #404040!important;
}

#theme-page {
	min-height:100vh; 
}

.header-logo img {
	padding: 3px 0px;
    box-sizing: border-box;
}

.master-holder .homepage__banner {
	padding-left:22px;
}

.master-holder h2 {
	font-weight:500;
}

.master-holder .homepage__banner h1 {
	text-align:left;
	color:white;
	font-size:36px;
	font-weight:800;
	padding-top:35px;
	/*text-shadow: 2px 2px saddlebrown;*/
}

.master-holder .homepage__banner h2 {
	font-size: 21px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-right: 150px;
    box-sizing: border-box;
}

.vc_custom_1494158275563.homepage__call-to-action {
	padding: 80px 20px!important;
	border:none;
}

.homepage__call-to-action h2 {
	color:#404040!important;
	font-size:40px!important;
	margin-bottom:25px; 
}
.homepage__call-to-action .p1 {
	margin-bottom:25px!important;
}
    
/*.mk-main-wrapper-holder {
	display:none;
}*/

.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
	color: #fff;
    font-weight: bold;
    border-color: #6DAB3C;
    background-color: #6DAB3C;
    font-size: 20px;
}

.homepage__location {
	padding:80px 60px;
}

.homepage__location-text {
	padding-top: 50px;
	padding-left:50px; 
	font-weight:bold;
}

.homepage__location-text h2 {
	font-size: 40px !important; 
	color:white !important;
}
.homepage__location-text p {
	color:white !important;
	font-size:20px !important;
}
.homepage__location-text a {
	border-bottom:2px solid #E4572E; 
	text-decoration:none;
	color:white!important;
}

.homepage__location-text a { 
	-webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
}
.homepage__location-text a:hover { 
	font-size: 22px; 
	border-bottom:2px solid white;
}

#mk-font-icons-6 .font-icon {
	line-height:23.24px
}

.globe-icon a svg{
	-webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
    cursor:pointer;
}
.globe-icon a:hover svg {
	 transform: scale(1.1);
}

.homepage__success-button button {
	/*background-color:#af0000 !important; */
	background-color:#E4572E !important; 
	color:white !important;
	margin-bottom:30px !important;
	color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.homepage__success-block {
	margin-top:60px;
	border-left:none!important;
	border-right:none!important;
	border-color:lightgray!important;
	padding-top:40px!important;
	margin-bottom:25px!important;
}

.homepage__success-block h2 {
	color:#404040!important;
	font-size:40px!important;
	margin-bottom:25px; 
}
.homepage__success-block .p1 {
	margin-bottom:30px!important;
}

.page__title {
	margin-top:-32px!important;
}
.page__title h2 {
	font-size: 20px!important;
    text-transform: uppercase!important;
}

.page__objective {
	margin-top:20px;
	margin-bottom:18px!important;
}
.page__objective p {
	font-size:20px; 
}

.page__process-block .mk-text-block{
	margin-top:-20px;
}
.page__process-block .mk-text-block ol {
	font-size:16px;
}
.page__process-block .mk-text-block li {
	margin-bottom:15px; 
}

.about-us__gallery {
	margin-top:80px; 
	margin-bottom:100px; 
}
.about-us__gallery h3 {
	font-size:20px!important; 
	margin-bottom:40px;
	text-transform:uppercase!important;
	font-weight:600!important; 
	margin-right:10px!important; 
}

.about-us__gallery .mk-gallery .item-holder img {
	height:153px; 
}

@media (max-width: 1140px) {
	.master-holder .homepage__banner {
		padding-left:0px;
	}
}
@media (max-width: 700px) {
	.master-holder .homepage__banner h2 {
		padding-right:0px;
	}
}

.specicalization__icon {
    font-size: 100px!important;
    color: #ce776c;
    opacity:0.7;
}
   /* 
    color: blue;
    opacity: 0.3;*/
.graduation {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items:center; 
    margin-bottom:150px; 
}
.graduation__text,.specialization__text {
	font-size: 40px;
    font-weight: 600;
    width: auto; 
 	margin-left:0; 
}
.specialization__text { 
	font-size:30px;
	margin-left:40px; 
}
.text__number {
	font-size:58px; 
	position:relative;
	width:175px;
	display:inline-block;
	text-align:center;
	font-weight:bold;
}

.text__number img {
	position: absolute;
    width: 175px;
    left: 0px;
    top:-59px; 
}
.specialization {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items:center; 
    margin-bottom:100px; 
}
.text__specialization {
	text-transform:uppercase; 
	line-height:1.7; 
}
.specialization .text__number {
	width:auto; 
}

.half-width {
	width:50%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center; 
}
.half-width:nth-child(1) {
	justify-content:flex-start; 
}
.half-width:nth-child(2) {
	justify-content:flex-end; 
}

.custom-container {
	margin-top:150px; 
	width: 95%; 
	margin: 122px auto 0px;
}

@media (max-width: 970px) {
	.graduation__text {
		font-size: 35px; 
	}
	.specialization__text {
		font-size:25px; 
	}
}
@media (max-width: 870px) {
	.specicalization__icon {
		font-size: 75px!important;
	}
	.graduation__text {
		font-size: 30px; 
	}
	.text__number {
		font-size: 45px;
	}
}
@media (max-width: 780px) {
	.specialization__text {
	  	margin-left: 15px;
	}
}
@media (max-width: 730px) {

	.graduation__text .text__number {
	    font-size: 45px;
	    width: 100%;
	    margin-bottom:80px; 
 	}
 	.graduation {
 		margin-bottom: 100px; 
 	}
	.graduation__text .text__number img {
	    position: absolute;
	    width: 175px;
	    left: 50%;
	    top: -59px;
	    margin-left: -87px;
	}
}

@media (max-width: 715px) {
	.specialization {
		display:block; 
		margin-bottom:0px; 
	}
	.half-width {
		width:100%; 
		display:block; 
		margin-bottom:40px; 
	}
	.specicalization__icon {
		margin-bottom:20px; 
	}
}

.where-we-go-text {
	padding: 60px 80px;
    font-size: 22px;
    font-weight: 500;
    line-height:1.2;
    color:white;
}

.team-thumbnail img {
	width: 500px; 
}

.hoverinfo {
	font-size:15px !important;
	font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bubbles circle:hover {
	cursor:pointer;
}
.mentees__barbados, .mentees__kenya, .mentees__nepal, .mentees__nigeria, .mentees__palestine, .mentees__rwanda, .mentees__southafrica, .mentees__tunisia, .mentees__zambia {
	display:none;
}
.page-template-page-mentee-map h3 {
	display:none; 
}
.page-template-page-mentee-map h2 {
	font-size:25px!important;
	width: 95%;
    margin: 20px auto -40px;
    font-weight:800!important;
    text-transform:uppercase!important;
}
.page-template-page-mentee-map h3 {
	padding-left: 20px;
    color: #404040;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -30px;
}

.page-template-page-mentee-map .mk-go-top {
	background: rgba(0,0,0,.5);
	top:150px; 
	width: 150px;
}
.page-template-page-mentee-map .mk-go-top span {
    display: inline-block;
    padding-top: 12px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 12px 10px;
    margin-left: 23px;
    color: white;
}
.page-template-page-mentee-map .mk-go-top span.mobile-text {
	display:none;
}
.mobile-flags__title-flag {
	margin-top: 30px; 
	text-align:center;
}
.mobile-flags__title-flag img {
	width: 95%; 
	margin:auto;
	max-width:350px; 
	height:200px;  
	cursor:pointer;
}
.mobile-flags h2 {
	margin-bottom:20px; 
	text-align:center;
}
.mobile-flags {
	display:none; 
}
@media (max-width: 715px) {
	#bubbles, .page-template-page-mentee-map h2 {
		display:none;
	}
	.mobile-flags, .mobile-flags h2 {
		display:block; 
	}
	.page-template-page-mentee-map h3 {
		margin-top: 80px; 
		text-align:center;
	}
	.page-template-page-mentee-map .mk-go-top span:nth-of-type(1) {
		display:none; 
	}
	.page-template-page-mentee-map .mk-go-top span.mobile-text {
		display:block; 
	}
}

.trustee-title-row {
	 background-image:url('http://localhost:8888/wp-content/uploads/2017/05/stripes_vertical_lines_colorful_57561_3840x2400.jpg'); 
	 background-repeat:no-repeat;
	 background-position:right;
	 background-size: 300px 150px;
}

