body {
	font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-logo img {
	padding: 3px 0px;
    box-sizing: border-box;
}

.master-holder .homepage__banner {
	padding-left:22px;
}

.master-holder h2 {
	font-weight:500;
}

.master-holder .homepage__banner h1 {
	text-align:left;
	color:white;
	font-size:36px;
	font-weight:800;
	padding-top:35px;
	/*text-shadow: 2px 2px saddlebrown;*/
}

.master-holder .homepage__banner h2 {
	font-size: 21px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-right: 150px;
    box-sizing: border-box;
}

.vc_custom_1494158275563.homepage__call-to-action {
	padding: 80px 20px!important;
	border:none;
}

.homepage__call-to-action h2 {
	color:#404040!important;
	font-size:40px!important;
	margin-bottom:25px; 
}
.homepage__call-to-action .p1 {
	margin-bottom:25px!important;
}
    
/*.mk-main-wrapper-holder {
	display:none;
}*/

.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
	color: #fff;
    font-weight: bold;
    border-color: #6DAB3C;
    background-color: #6DAB3C;
    font-size: 20px;
}

.homepage__location {
	padding:80px 60px;
}

.homepage__location-text {
	padding-top: 50px;
	padding-left:50px; 
	font-weight:bold;
}

.homepage__location-text h2 {
	font-size: 40px !important; 
	color:white !important;
}
.homepage__location-text p {
	color:white !important;
	font-size:20px !important;
}
.homepage__location-text a {
	border-bottom:2px solid #E4572E; 
	text-decoration:none;
	color:white!important;
}

.homepage__location-text a { 
	-webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
}
.homepage__location-text a:hover { 
	font-size: 22px; 
	border-bottom:2px solid white;
}

#mk-font-icons-6 .font-icon {
	line-height:23.24px
}

.globe-icon a svg{
	-webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
    cursor:pointer;
}
.globe-icon a:hover svg {
	 transform: scale(1.1);
}

.homepage__success-button button {
	/*background-color:#af0000 !important; */
	background-color:#E4572E !important; 
	color:white !important;
	margin-bottom:30px !important;
	color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.homepage__success-block {
	margin-top:60px;
	border-left:none!important;
	border-right:none!important;
	border-color:lightgray!important;
	padding-top:40px!important;
	margin-bottom:25px!important;
}

.homepage__success-block h2 {
	color:#404040!important;
	font-size:40px!important;
	margin-bottom:25px; 
}
.homepage__success-block .p1 {
	margin-bottom:30px!important;
}

.page__title {
	margin-top:-32px!important;
}
.page__title h2 {
	font-size: 20px!important;
    text-transform: uppercase!important;
}

.page__objective {
	margin-top:20px;
	margin-bottom:18px!important;
}
.page__objective p {
	font-size:20px; 
}

.page__process-block .mk-text-block{
	margin-top:-20px;
}
.page__process-block .mk-text-block ol {
	font-size:16px;
}
.page__process-block .mk-text-block li {
	margin-bottom:15px; 
}

.about-us__gallery {
	margin-top:40px; 
}
.about-us__gallery h3 {
	font-size:20px!important; 
	margin-bottom:26px;
}

.about-us__gallery .mk-gallery .item-holder img {
	height:153px; 
}

@media (max-width: 1140px) {
	.master-holder .homepage__banner {
		padding-left:0px;
	}
}
@media (max-width: 700px) {
	.master-holder .homepage__banner h2 {
		padding-right:0px;
	}
}